@charset "ISO-8859-1";

/*To comment out the sentence in css file, wrap it in*/
body {
	background-color: #808080;
}

section div {
	color: red;
	background-color: black;
}


/*chi chon di theo mot huong section -> div -> h4 la ÄÆ°á»£c Ã¡p dá»¥ng <=> chi cÃ¡i trÃªn lÃ  thay Äá»i*/

.example-div {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: blue;
}


.green-background {
	background-color: pink;
}

/*cach dung inherit cua class cung giong nhu cach dung cac element thong thuong*/
.green-background .cursive-h4{
	font-family: cursive;
}

/*chi chon di theo mot huong section -> div -> h4 la được áp dụng <=> chi cái trên là thay đổi
> : selector*/

section>div>h4 {
	color: red;
	background-color: green;
}


/*phan biet giua div.class vaf div .class : 1 cai la cung 1 layer 1 cai la parent-child relationship*/

p {
	font-size: 25px;
	background-color: teal;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
	/*margin is the space that will added from the very edge of the webpage to the left*/
	border-left: 100px; /*seem to have no effect to the appearance*/
}

/*list li duoc dat trong paragraph a se ko bi anh huong voi p, moi tag se nhan css rieng re voi nhau*/
li {
	font-size: 22px;
}

h1 {
	background-color: teal;
	text-align: center;
	width: 1000px; /*do rong cua cai o se chua cai header h1*/
}

body {
	color: white;
	/*cai nay se ap dung len toan bo children cua body :: inheritance*/
}

article {
	color: orange; /*default is color : inherit*/
}

/*lam sao de chi dinh mot minh p trong article element sang mau khac*/
article p {
	background-color: black;
}

/*chung ta co the inherit 2 lan -> checking html render, chi co p thu hai cua article dc ap dung rule nay*/
article henry p {
	background-color: purple;
}

body ul li img {
	width: 300px;
	height: auto;
}

img {
	width: 100px;
	height: auto;
}

/* =============================================================== */

/*cach chi dinh div.class de ap dung mot rule -- note div .class khac voi div.class*/
div.green-background {
	background-color: limegreen;
}

/*cách để áp dụng rule cho một element vơi ID*/
/*cách dùng id y như dùng cho element trừ việc nó chỉ đích danh element nào được áp dụng rule 
nghĩa là bao gồm cả ví dụ như div#myid etc*/
#myid > h4{
	background-color: brown;
}

/*Specificify
Class is id is more specific than class, class is more specific than type selector >
thằng nào more specific thằng đó sẽ override mấy thằng kia*/
body > div#example > p {
	height: 30px;
	width: 300px;
	background-color: lightblue;
	color: black;
	
}

.example-class {
	background-color: orange;
}

/*multi element*/

#example1 p,h3 {
	color: black;
	background-color: lightblue;
	height: 30px;
	width: 300px;
	font-size: 20px;
	margin-left: 25px;
	padding-left: 25px;
}

/*choosing from list with css first-child, last-child*/
#example1 p:first-child {
	color:green;
}

#someIDofanImage:hover {
	/*filter:invert(100%);*/
	transform: scale(2);
}

/*sibling in css p+p h3+h4 div+section etc nghia la may thang anh chi em dung canh nhau, tui muon hai thang p 
lien tiep thi thang thu hai duoc boi do, y nghia no la nhu vay*/
#example1 p+p {
	color: red;
}

/*testing the rule upon nav element*/
nav ul,li{
	height: 50px;
	background-color: teal;
	width: 50%;
	list-style: none;
	padding-left: 50px;
	display: flex;
	justify-content: center;
	line-height: 50px;
}

/*short-hand: cach viet ngan gon*/
nav {
	margin: 100px 100px;
}

/*flex-flow for element :: de tuong thich voi cac kich thuoc browser khac nhau*/


/* =============================================================== */

